:root {
    --black: #191919;
    --darkgrey: #212121;
    --brightgrey: #747373;
    --bordergry: #3C3939;
    --buttongreen: #006C53;
    --textgreen: #058B8B;
}

.cards {
    width: 100%;
    text-align: center;

    
}


.menu-card {
    background-color: var(--darkgrey);
    width: 300px;
    height: 320px;
    border-radius: 8px;
    box-shadow: 0 0 2px #888;
    border-color: var(--brightgrey);
    background-color: var(--darkgrey);
    display: inline-block;
  margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    
}

.menu-card:hover .card-title h3 {
    transition-duration: 1s;
    font-size: 29px;
}

.col-user {
    margin-left: 10px;
    margin-right: 10px;
}


.card-icon {
    padding: 30px 0px 0px 0px;
    background-color: var(--darkgrey);
}


.card-icon #icon {
    padding: 20px;
}

.card-title h3 {
    padding: 60px 0px 0px 0px;
    background-color: var(--darkgrey);
}

.strich {
   width: 2px;
   height: 93%;
   background-color: var(--brightgrey);
   display: block;
   margin: 0 auto;
   margin-top: 41px;
}

.col2 {
    padding-top: 41px;
}




    /*löscht den Strich bei max-width 1250px*/
  @media screen and (max-width: 1250px) {
    .col3 {display: none;}
  }

  /*setzt das padding von column 2 zurück*/
  @media screen and (max-width: 787px) {
    .col2 {padding-top: 0px;}
    .row {
        display: block;
        margin-left: auto;
  margin-right: auto;
    }
}







