<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{neu_key_headline}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/general.css}" rel="stylesheet" />
    <link th:href="@{/css/antrag_keycard.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="/images/keycardicon.png" />

</head>

<body>
    <nav th:insert="navbar.html :: navbar"> </nav>
    <div id="container-content">
        <div id="page-overview">
            <i id="icon" class="fa fa-file"></i>
            <h2 id="page-title" th:text="#{neu_key_headline}">Antrag - Neue Keycard</h2>
        </div>

        <form method="post" th:action="@{/antragfertig}" enctype="multipart/form-data">
            <input id="art" class="form-control" name="art" type="hidden" value="neue Karte">
            <input id="kommentar" class="form-control" name="kommentar" type="hidden" value="Hello">

            <div class="formular">
                <div class="date">
                    <div class="row">
                        <div class="col">
                            <h6 th:text="#{startdatum}">Startdatum eingeben</h6>
                            <input id="startdatum" type="date" class="form-control" name="anfangstag" min="tomorrow"
                                required>
                        </div>
                        <div class="col">
                            <h6 th:text="#{enddatum}">Enddatum eingeben</h6>
                            <input id="enddatum" type="date" class="form-control" name="endtag" min="tomorrow" required>
                        </div>
                    </div>
                </div>
                <div class="facilites">
                    <div class="row">
                        <div class="col">
                            <h6 th:text="#{raumname}">Raumname</h6>
                            <input type="text" id="raumname" name="raum" placeholder="IM-SR004">
                            <div class="icon-btn" id="mehrRaeume">
                                <a onclick="moreRooms()">
                                    <i id="icon" class="fa fa-plus icon-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <h6 th:text="#{bereichname}">Bereichsname</h6>
                            <input type="text" id="bereichsname" name="bereich" placeholder="Lehrstuhl Lehner">
                            <div class="icon-btn" id="mehrBereiche">
                                <a onclick="moreBereiche()">
                                    <i id="icon" class="fa fa-plus icon-plus"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="berechtigung">
                    <h6 th:text="#{berechtigungsgrund}">Berechtigungsgrund (optional)</h6>
                    <input id="myFile" type="file" name="berechtigung" accept=".pdf">
                </div>
                <a onclick="checkInput()">
                    <button type="button" data-toggle="" data-target="" class="button"
                        th:text="#{btn_absenden}"></button>
                </a>
                <button id="btn-modal-date-fehler" hidden class="dropdown-toggle" type="button" data-toggle="modal"
                    data-target="#myModalDateFehler">OPEN MODAL</button>
                <div class="modal fade" id="myModalDateFehler" role="dialog">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="modal-title-fehler" class="modal-title" th:text="#{fehler_Date_headline}"></h4>
                                <button style="color: white;" type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p id="modal-text" th:text="#{fehler_Date_text}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="btn-modal-erfolg" hidden class="dropdown-toggle" type="button" data-toggle="modal"
                    data-target="#myModalErfolg">OPEN MODAL</button>
                <div class="modal fade" id="myModalErfolg" role="dialog">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="modal-title-erfolg" class="modal-title" th:text="#{antrag_bestätigen_headline}">
                                </h4>
                                <button style="color: white;" type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <button id="btn-submit" class="button" type="submit" th:text="#{btn_bestaetigen}">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="btn-modal-fehler" hidden class="dropdown-toggle" type="button" data-toggle="modal"
                    data-target="#myModalFehler">OPEN MODAL</button>
                <div class="modal fade" id="myModalFehler" role="dialog">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="modal-title-fehler" class="modal-title"
                                    th:text="#{fehler_Raumeingabe_headline}"></h4>
                                <button style="color: white;" type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p id="modal-text" th:text="#{fehler_Raumeingabe_text}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="btn-modal-empty" hidden class="dropdown-toggle" type="button" data-toggle="modal"
                    data-target="#myModalEmpty"></button>
                <div class="modal fade" id="myModalEmpty" role="dialog">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="modal-title-fehler" class="modal-title" th:text="#{keine_Raumeingabe_headline}">
                                </h4>
                                <button style="color: white;" type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p id="modal-text" th:text="#{keine_Raumeingabe_text}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer th:insert="footer.html :: footer"> </footer>

    <script>
        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });

            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }

            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
    </script>

    <script th:inline="javascript">
        var nurBereichsnamen = /*[[${nurBereichsnamen}]]*/ "";
        var nurRaumnamen = /*[[${nurRaumnamen}]]*/ "";

        var bereichValues = nurBereichsnamen;
        var raumValues = nurRaumnamen;

    </script>

    <script>
        var bereichContentElement = document.getElementById("bereichContent");

        function addBereich() {
            var bereichDiv = document.createElement("div");
            var newBereich = document.createElement("input");
            newBereich.setAttribute("class", "bereichinput");
            newBereich.setAttribute("name", "bereich");
            newBereich.setAttribute("type", "text");
            newBereich.setAttribute("id", "bereichinput" + (document.getElementsByClassName("bereichinput").length + 1));
            bereichDiv.appendChild(newBereich);

            var deleteButton = document.createElement("button");
            deleteButton.setAttribute("class", "btn btn-danger remove-btn");
            deleteButton.setAttribute("type", "button");
            deleteButton.setAttribute("style", "background-color: #FF0000; color: white;border: none;padding: 5px;font-size: 6px;height: 20px;width: 20px;box-shadow: 0 2px 4px darkslategray;cursor: pointer;transition: all 0.2s ease;border-radius: 70%;");
            deleteButton.setAttribute("onClick", "deleteBereich(" + (document.getElementsByClassName("bereichinput").length + 1) + ")");
            deleteButton.innerText = "-";
            deleteButton.id = "deleteButton";
            bereichDiv.appendChild(deleteButton);

            bereichDiv.id = "bereich" + (document.getElementsByClassName("bereichinput").length + 1);
            bereichDiv.setAttribute("class", "bereich");
            bereichContentElement.appendChild(bereichDiv);

            autocomplete(document.getElementById(newBereich.id), bereichValues);

        };

    </script>

    <script>
        function deleteBereich(id) {

            var parent = document.getElementById("bereichContent");
            var elements = document.getElementById("bereich" + id);

            parent.removeChild(elements);

        };

        function deleteRaum(id) {

            var parent = document.getElementById("raumContent");
            var elements = document.getElementById("raum" + id);

            parent.removeChild(elements);

        };
    </script>

    <script>
        var raumContentElement = document.getElementById("raumContent");

        function addRaum() {
            var raumDiv = document.createElement("div");
            var newRaum = document.createElement("input");
            newRaum.setAttribute("class", "rauminput");
            newRaum.setAttribute("name", "raum");
            newRaum.setAttribute("type", "text");
            newRaum.setAttribute("id", "rauminput" + (document.getElementsByClassName("rauminput").length + 1));
            raumDiv.appendChild(newRaum);

            var deleteButton = document.createElement("button");
            deleteButton.setAttribute("class", "btn btn-danger remove-btn");
            deleteButton.setAttribute("type", "button");
            deleteButton.setAttribute("style", "background-color: #FF0000; color: white;border: none;padding: 5px;font-size: 6px;height: 20px;width: 20px;box-shadow: 0 2px 4px darkslategray;cursor: pointer;transition: all 0.2s ease;border-radius: 70%;");
            deleteButton.setAttribute("onClick", "deleteRaum(" + (document.getElementsByClassName("rauminput").length + 1) + ")");
            deleteButton.innerText = "-";
            deleteButton.id = "deleteButton";
            raumDiv.appendChild(deleteButton);

            raumDiv.id = "raum" + (document.getElementsByClassName("rauminput").length + 1);
            raumDiv.setAttribute("class", "raum");
            raumContentElement.appendChild(raumDiv);

            autocomplete(document.getElementById(newRaum.id), raumValues);

        };

    </script>
</body>
<script type="text/javascript" th:inline="javascript">

    //CHECK INPUT FOR ROOMS AND ARES
    function checkInput() {
        //CHECK DATE
        var inputStartDate = document.querySelectorAll('[name="anfangstag"]');
        var inputEndDate = document.querySelectorAll('[name="endtag"]');
        if ((inputStartDate[0].value > inputEndDate[0].value)) {
            document.getElementById("btn-modal-date-fehler").click();
            return;
        }

        //CHECK ROOM AND AREA
        var allRooms = /*[[${allRooms}]]*/ "";
        var allAreas = /*[[${allAreas}]]*/ "";
        var bereichWasFound = false;
        var roomWasFound = false;
        var inputRooms = document.querySelectorAll('[name="raum"]');
        var inputAreas = document.querySelectorAll('[name="bereich"]');
        //CHECK IF INPUT ROOM WAS FOUND
        for (let i = 0; i < inputRooms.length; i++) {
            for (let y = 0; y < allRooms.length; y++) {
                if (inputRooms[i].value == allRooms[y]) {
                    roomWasFound = true;
                    break;
                } else {
                    if (inputRooms[i].value == "") {
                        roomWasFound = true;
                        break;
                    } else {
                        roomWasFound = false;
                    }
                }
            }
            if (roomWasFound == false) {
                break;
            }
        }
        //CHECK IF INPUT AREA WAS FOUND
        for (let i = 0; i < inputAreas.length; i++) {
            for (let y = 0; y < allAreas.length; y++) {

                if (inputAreas[i].value == allAreas[y]) {
                    bereichWasFound = true;
                    break;
                } else {
                    if (inputAreas[i].value == "") {
                        bereichWasFound = true;
                        break;
                    } else {
                        bereichWasFound = false;
                    }
                }
            }
            if (bereichWasFound == false) {
                break;
            }
        }

        //CHECKS IF INPUT ROOM/AREA WAS FOUND OR IS EMPTY
        if (inputRooms[0].value == "" && inputAreas[0].value == "") {
            document.getElementById("btn-modal-empty").click();
            return;
        } else if (inputRooms[0].value != "" && inputAreas[0].value == "") {
            if (roomWasFound == true) {
                document.getElementById("btn-modal-erfolg").click();
                return;
            } else {
                document.getElementById("btn-modal-fehler").click();
                return;
            }
        } else if (inputRooms[0].value == "" && inputAreas[0].value != "") {
            if (bereichWasFound == true) {
                document.getElementById("btn-modal-erfolg").click();
                return;
            } else {
                document.getElementById("btn-modal-fehler").click();
                return;
            }
        } else {
            if (bereichWasFound == false || roomWasFound == false) {
                document.getElementById("btn-modal-fehler").click();
                return;
            } else {
                document.getElementById("btn-modal-erfolg").click();
                return;
            }
        }

    }
</script>

<!-- GENREATE INPUT FIELDS START -->
<script>
    //Set Min and Max Date for Startdatum
    //    var tomorrow = new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString().split('T')[0];
    var tomorrow = new Date(Date.now()).toISOString().split('T')[0];
    var tomorrowOneYear = new Date(Date.now() + 24 * 60 * 60 * 365000).toISOString().split('T')[0];
    document.getElementById("startdatum").setAttribute('min', tomorrow);
    document.getElementById("startdatum").setAttribute('max', tomorrowOneYear);
    document.getElementById("enddatum").setAttribute('min', tomorrow);
    document.getElementById("enddatum").setAttribute('max', tomorrowOneYear);

    //Insert form after plus button click
    function moreRooms() {
        let myReferenceDiv = document.querySelector('#mehrRaeume');
        let prev = myReferenceDiv.previousElementSibling.value;
        console.log(prev);
        if (prev != "") {
            let clone = document.querySelector('#raumname').cloneNode(true);
            clone.value = "";
            document.querySelector('#mehrRaeume').insertAdjacentElement("beforebegin", clone);
        } else {
            myReferenceDiv.previousElementSibling.focus();
        }

    }
    function moreBereiche() {
        let myReferenceDiv = document.querySelector('#mehrBereiche');
        let prev = myReferenceDiv.previousElementSibling.value;
        console.log(prev);
        if (prev != "") {
            let clone = document.querySelector('#bereichsname').cloneNode(true);
            clone.value = "";
            document.querySelector('#mehrBereiche').insertAdjacentElement("beforebegin", clone);
        } else {
            myReferenceDiv.previousElementSibling.focus();
        }
    }
</script>
<!-- GENREATE INPUT FIELDS END -->
<!-- SWITCH LANGUAGE START -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript" th:inline="javascript">
    var sitename = "antrag_auf_neue_keycard";

    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var link = sitename + "?lang=" + selectedOption;
            if (selectedOption != '') {
                window.location.replace(link);
            }
        });
        $("#localesSide").change(function () {
            var selectedOption = $('#localesSide').val();
            var link = sitename + "?lang=" + selectedOption;
            if (selectedOption != '') {
                window.location.replace(link);
            }
        });
    });
</script>
<!-- SWITCH LANGUAGE END -->

</html>